<app-nav-bar />
<app-nebula-background>
  <div style="color: white">
    <router-outlet />awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
    <br />awefwaeawefwaeawefwaeawefwaeawefwae
    awefwaeawefwaeawefwaeawefwaeawefwae
  </div>
</app-nebula-background>
