<main class="app-content">
  <div class="fixed-nav">
    <app-nav-bar />
  </div>
  <app-nebula-background>
    <div class="padded-sides">
      <router-outlet />
    </div>
    <div style="color: white">
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
      <br />awefwaeawefwaeawefwaeawefwaeawefwae
      awefwaeawefwaeawefwaeawefwaeawefwae
    </div>
  </app-nebula-background>
</main>
