<div class="projects">
  <h2>Projects</h2>

  <div class="flex-row-wrap">
    @for (project of projects; track $index) {
      <app-image-reveal
        [title]="project.title"
        [imageSrc]="project.image"
        [description]="project.description"
        [imageAlt]="project.imageAlt"
        (fileNameSelected)="openImage($event)"
      />
    }
  </div>
</div>

<app-custom-dialog title="Project preview">
  @if (selectedImage()) {
    <img
      class="dialog-image"
      [src]="selectedImage()"
      alt="Large project application preview"
    />
  }
</app-custom-dialog>
